<h3>Sign {{$ctrl.headerText()}}</h3>
<hr>
<form name="signInForm" novalidate>

  <!-- Email Input -->
  <label class="label">Email</label>
  <p class="control has-icon">
    <input class="input" type="email" name="email" ng-model="$ctrl.email" placeholder="Email" required>
    <i class="fa material-icons">email</i>
  </p>

  <!-- Password -->
  <label class="label">Password</label>
  <p class="control has-icon">
    <input class="input" type="password" name="password" ng-model="$ctrl.password" placeholder="Password" required>
    <i class="fa material-icons">lock</i>
  </p>

  <!-- Confirm Password -->
  <p class="control has-icon" ng-show="$ctrl.formIndex == 1">
    <input class="input" type="password" name="confirmPassword" ng-model="$ctrl.confirmPassword" placeholder="Confirm Password"
      ng-required="$ctrl.formIndex == 1">
    <i class="fa material-icons">lock</i>
  </p>

  <!-- Buttons -->
  <p class="control is-grouped pull-right">

    <a class="button is-link" ng-click="$ctrl.swapForms()">
      I {{$ctrl.buttonText()}} an account
    </a>

    <a class="button is-primary" 
    ng-class="{'is-disabled': signInForm.$invalid, 'is-loading': $ctrl.signingIn }"
    ng-click="$ctrl.submit(signInForm.email, signInForm.password)">
      Sign {{$ctrl.headerText()}}
      <span class="icon">
        <i class="fa material-icons">arrow_forward</i>
      </span>
    </a>
  </p>

</form>