<header class="header card is-fullwidth">
  <div class="container">

    <div ng-repeat="(i, links) in $ctrl.navLinks" class="header-{{i}}">
      <a ng-repeat="link in links" class="header-tab"
        ng-class="{'serif': link.isBrand != null, 'subtitle': link.isBrand != null, 'is-active': $ctrl.location.path() == link.path, 'is-disabled': $ctrl.location.path() == link.path}"
        ng-click="$ctrl.linkClicked(link.path, link.onClick)">
        <span class="icon" ng-hide="!link-icon">
          <i class="fa material-icons is-unselectable">{{link.icon}}</i>
        </span>
        <span ng-class="{'is-hidden-mobile': !link.isBrand}">{{link.label}}</span>
      </a>
    </div>

  </div>
</header>

<modal title="Welcome" show-modal="$ctrl.showModal">
  <sign-in-form on-sign-in="$ctrl.close()"></sign-in-form>
</modal>
