<header class="header">
  <div class="container">

    <div ng-repeat="(i, links) in $ctrl.navLinks" class="header-{{i}}">
      <a ng-repeat="link in links" class="header-tab"
        ng-class="{'serif': link.isBrand != null, 'subtitle': link.isBrand != null, 'is-active': $ctrl.location.path() == link.path}"
        ng-click="$ctrl.linkClicked(link.path, link.onClick)">
        <span class="icon" ng-hide="!link-icon">
          <i class="fa material-icons">{{link.icon}}</i>
        </span>
        {{link.label}}
      </a>
    </div>

  </div>
</header>

<modal show-modal="$ctrl.showModal">
  <sign-in-form on-sign-in="$ctrl.close()"></sign-in-form>
</modal>
