@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

body {
    font-family: Roboto;
}

.serif, .title {
    font-family: Roboto Slab;
}

// Prevent navbar collapse
.header .container {

    @media screen and (max-width: 768px){
        -webkit-box-orient: inherit;
        -webkit-box-direction: inherit;
        -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
        flex-direction: inherit;
    }
}

// Pull left and right
.pull-left {
	justify-content: flex-start !important;
}
.pull-right {
	justify-content: flex-end !important;
}

html {

    height: 100%;
    overflow: inherit;

    body {
        
        height: 100%;

        [ng-view] {
            overflow: auto;
            height: calc(100% - 50px);
        }
    }
}

// Welcome page
welcome-page {

    .column.is-flex {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .is-1.title {

        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: inherit;
            padding: 5px;
        }
    }
}

read-page {
    .columns {
        margin-top: 20px;

        .card-footer {
            a.button {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0;

                i {
                    font-size: inherit;
                    padding: 5px;
                }
            }
        }
    }
}

explore-page {
    modal .column.is-2.has-text-centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}